# Ignore test set data and backup
data/testset/backup
data/testset/id_cof
data/testset/qas_dataset/article
data/testset/qas_dataset/clause
data/testset/qas_dataset/point
# Ignore  tools_checkID
src/generaltools/tools_checkID/old
src/generaltools/tools_checkID/new/id_cof_fl_point.py
src/generaltools/tools_checkID/new/id_cof_fl_article.py
src/generaltools/tools_checkID/new/id_cof_clause.py
# Ignore finetune raw data

.DS_Store
**/node_modules/
data/finetune/raw/old/finetune_data_no_base_no_taive.json
data/finetune/processed